*{  
  color: #130E47;
}
  .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    width: 450px;
  }
  .contenido
{
    background-color:rgba(87, 198, 231, 0.87);
    padding: 20px;
    
    margin: 10px auto;
    box-shadow: 0 0 10px   #130E47; 
    width: 80%; 
}
