body{
    margin-left: 80px;
    margin-right:80px;
    background-color: cadetblue;
}
*{
    
    font-family: 'Times New Roman', Times, serif;
    
    

    
}
H1,H3,H4,H5,H6{
    font-size: 40px;
    text-align: center;
}
.po{
    background-color: red;
}
ul{
    list-style: none;
    list-style-position: outside;
}
div{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}
main{
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.piepag{
    color: tomato;
}
.formulario{
    color:black;
   margin-left: 20%;
}
#botonesf{
    padding-left: 20%;

}