* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
}

.left,
.middle,
.right {
    height: 300px;
}

.header {
    position: relative;
    /*width: 100%;*/
    height: 80px;
    /*clear: both;*/
    align-content: center;
    background-color: #0077c2;

    font-family: 'Lucida Sans';
    font-style: italic;
    font-weight: bold;
    font-size: 30px;

    grid-area: header;
}

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}
/*
.center {
    position: relative;
    float: left;
    width: 24.85%;
    height: 300px;
    background-color: #42a5f5;
    border: 1px dashed #000;
}
*/
.footer{
    position: relative;
    height: 80px;
    clear: both;
    background-color: #0077c2;
    grid-area: footer;
}

nav{
    background-color: red;
}
aside{
    background-color: orangered;
}
section{
    background-color: yellow;
}
