div {
    background-color: black;
}
header{
    background-color: brown;
}
nav{
    background-color: red;
}
aside{
    background-color: orangered;
}
section{
    background-color: yellow;
}
footer{
    background-color: green;
}